#header {
    background-image: url('../images/puppies.jpg');
    background-size: contain;
    background-repeat: round;
    color: lightsalmon;
}

h1 {
    position: relative;
    bottom: 140%;
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
}

body {
    background-color: whitesmoke;
}

form {
    background: lightgray;
    padding: 10px;
}

#userMessage {
    display: none;
}

img {
    width: 350px;
    height: 300px;
}

@media only screen and (max-width: 1024px) {
    .responsive {
        margin: 10px;
    }

    img {
        width: 250px;
        height: 200px;
    }
  }

@media only screen and (max-width: 680px) {
    #header {
      background-size: cover;
      background-repeat: none;
    }

    h1 {
        display: inline;
        position: relative;
        bottom: 200%;
        left: 18%;
        font: 'Sacramento', cursive, bolder;
        font-size: 30px;
    }

    img {
        width: 350px;
        height: 300px;
    }

  }