#header {
    background-image: url('../images/puppies.jpg');
    background-size: contain;
    background-repeat: round;
    color: lightsalmon;
}

h1 {
    position: relative;
    bottom: 140%;
}

body {
    background-color: whitesmoke;
}

form {
    background: lightgray;
    padding: 10px;
}

#userMessage {
    display: none;
}

img {
    width: 350px;
    height: 300px;
}

@media only screen and (max-width: 680px) {
    #header {
      background-size: cover;
      background-repeat: none;
    }
  }